@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #0F0D1E;
    color: aliceblue;
    font: 600 normal 1rem Poppins;
}



#btn {
    float: right;
    margin: 0 1em 0 0;
}

#myTopnav {
    overflow: hidden;
    margin: 2em 10%;
}

/* Style the links inside the navigation bar */
.topnav>* {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

#mainlinks>* {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav #mainlinks>a:hover {
    color: #08efe0;
    border-radius: 10px;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 980px) {
    #btn {
        float: none;
        text-align: center;
        margin: 1em 0 0 .74em;
    }

    .topnav a,
    button {
        display: none;
    }

    .topnav a.icon {
        display: inline;
        float: right;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive * {
        float: none;
        display: block;
        text-align: left;
    }
}

#title_container {
    margin: 5% 10%;
    padding: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    /* box-shadow: inset -2px -2px 8px #25159d, inset 0px 2px 12px #25159d; */
}

#title_container>#item2>p {
    background: -webkit-linear-gradient(145deg, aqua, violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 5rem;
}

#title_container>#item4 {
    margin-top: 2em;
}

#rotate-device {
    display: none;
}

/* rotate device */
@media screen and (max-width:600px) {
    #rotate-device {
        display: block;
        text-align: center;
        margin: 300px auto;
    }

    #main {
        display: none;
    }
}

/* rotate device */
@media screen and (max-width: 900px) and (min-width:420px) {
    #title_container>#item2>p {
        font-size: 2.5rem;
    }
}

.closebtn {
    display: none;
}

/* side navigation */
@media screen and (max-width: 980px) {
    .sideNav {
        height: 100%;
        width: 0;
        z-index: 1;
        position: fixed;
        top: 0;
        left: -40px;
        background-color: rgb(0, 0, 0);
        /* opacity: 0.95; */
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }


    .sideNav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #818181;
        display: block;
        transition: 0.3s;
    }

    .sideNav a:hover {
        color: #ddd;
    }

    .sideNav .closebtn {
        position: absolute;
        top: 0;
        right: 85px;
        font-size: 36px;
        margin-left: 50px;
        color: rgb(173, 170, 170);
        display: block;
    }
}

#stat {
    display: grid;
    grid-template-columns: repeat(3, auto);
    margin: 8% 10%;
}

#stat .stat_childs {
    /*    border: 1px solid #fff;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    row-gap: .5em;
}

#stat .stat_childs #stat_child2_int {
    background: -webkit-linear-gradient(145deg, aqua, violet);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.LR-bd {
    border-right: 1px solid #777187;
    border-left: 1px solid #777187;
}

.stat_child_int {
    font: 700 normal 55px Poppins;
}

.stat_child_text {
    color: #777187;
}


@media screen and (max-width:1200px) {
    #stat {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }

    .LR-bd {
        border-top: 1px solid #777187;
        border-bottom: 1px solid #777187;
        border-left: none;
        border-right: none;
    }

    #stat .stat_childs {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
    }
}

#grid {
    margin: 12% 10% 8% 10%;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    padding: 10px;
    column-gap: 2em;
}

.item3 {
    grid-column: 1/3;
    display: grid;
    grid-template-columns: repeat(2, auto);
    column-gap: 3em;
}

.item_box {
    background-color: #1c192b;
    margin: 1em 0;
    padding: 8px;
    border-radius: 25px;
    border: 1px solid #413b5e;
    box-shadow: inset 2px 2px 79px #131021;
    display: flex;
    align-items: center;
    column-gap: 3em;
    flex-wrap: wrap;
}

.item_box>span>img {
    background: linear-gradient(#2d2846, #171521);
    border-radius: 18px;
    padding: 18px;
    margin: 12px 0 12px 12px;
}


@media screen and (max-width:1200px) {
    #grid {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }

    .item3 {
        grid-column: 1;
        grid-template-columns: repeat(1, auto);
    }

    .item1>h1 {
        font-size: 40px;
        font-weight: 900;
    }
}

#signal_strength {
    margin: 0 10% 8% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 4em;
    align-items: center;
}

#signal_content {
    text-align: center;
}

#signal_container {
    background-color: #1C1B2C;
    width: 100%;
    padding: 3em;
    border-radius: 24px;
    border: 1px solid #413b5e;
    box-shadow: inset 2px 2px 79px #131021;
    display: grid;
    grid-template-columns: repeat(3, auto);
    column-gap: 2em;
}

.signal_item {
    /* background: linear-gradient(#2d2846,#171521); */
    background-color: #19162c;
    border: 1px solid #504972;
    border-radius: 18px;
    padding: 18px;
    margin: 12px 0 12px 12px;

}

.signal_item:hover {
    border: 1px solid #08efe0;
    cursor: pointer;
}

.signal_item>span>img {
    width: 58px;
    height: 58px;
    background-color: white;
    padding: 12px;
    border-radius: 12px;
    margin-right: 12px;
}

.read-more {
    color: white;
    text-decoration: none;
}

.read-more:hover {
    text-decoration: underline;
    margin-right: 12px;
}

@media screen and (max-width:1000px) {
    #signal_container {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }

    .signal_item>span>img {
        width: 32px;
        height: 32px;
    }

}

#active_invol {
    margin: 0 10% 8% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4em;
}

#active_invol_content {
    text-align: center;

}

#active_invol_container {
    display: grid;
    grid-template: auto / auto auto;
    gap: 1em;
}

#active_item1 {
    border: 1px solid rgb(110, 93, 93);
    grid-row: 1/3;
    background: linear-gradient(245deg, #6BDCDC, #B1A3F0);
    border-radius: 25px;
    border: none;
    padding: 1.3em;
    box-shadow: inset -2px -2px 8px #B1A3F0, inset 0px 2px 12px #B1A3F0;
}

#active_item1:hover {
    box-shadow: 1px 1px 38px #b1a3f051;
}

#active_item1>img {
    position: relative;
    bottom: 65px;
}

#active_item1>p {
    position: relative;
    left: 0;
    color: #191531;
}


.active_item2P {
    background-color: #19162c;
    border: 1px solid #504972;
    border-radius: 25px;
    padding: 18px;
    display: flex;
    flex-direction: column;
    width: 600px;
    box-shadow: inset 2px 2px 79px #111018;
}

.active_item2P>* {
    position: relative;
    top: 25%;
}

.active_item2P:hover {
    border: 1px solid #5fdbd2;
    cursor: pointer;
}

@media screen and (max-width:1200px) {
    #active_invol_container {
        display: grid;
        grid-template-columns: repeat(1, auto);
    }

    #active_item1>img {
        position: relative;
        bottom: 65px;
        left: 20%;
    }

    .active_item2P {
        height: 180px;
        padding: 16px;
    }
}

#news_letter {
    background-color: #161525;
    margin: 0 10% 14% 10%;
    padding: 4em;
    border-radius: 24px;
    border: 1px solid #413b5e;
    box-shadow: inset 2px 2px 79px #131021;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;

}

#news_letter>* {
    line-height: 1.5;
}

#news_letter #email {
    background-color: #1D1B2C;
    padding: 16px 16px;
    border: 1px solid #433974;
    border-radius: 12px;
    outline: none;
    color: white;
    width: 75%;
}

#email::placeholder {
    color: #7d7a8d;
}

#news_letter>span {
    background-color: #6350DB;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
}

@media screen and (max-width:1200px) {
    #news_letter {
        margin: 0 10% 8% 10%;
        text-align: center;
        padding: 2em;
    }
}

footer {
    margin: 3% 10% 2% 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

#social_icons>span>img {
    margin: 0 2em 2em 2em;
    padding: 16px 16px;
    background-color: #2d2846;
    border-radius: 10px;
    cursor: pointer;
}

#footer_content>* {
    margin-top: 1em;
    padding: 10px 0 10px 0;
    color: #474351;
}
